* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Coda', cursive;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  width: 100%;
}

.sidebar{
  position: relative;
}

.bg_shadow{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0);
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.sidebar__inner {
  width: 190px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: -webkit-linear-gradient(to right, rgb(73, 73, 73), rgb(0, 0, 0));
  background: linear-gradient(to right, rgb(70, 70, 70), rgb(10, 10, 10));
  box-shadow: 0 2px 6px rgb(0, 0, 0);
  z-index: 999;
  transition: all 0.3s ease;
}


.title{
	font-size: 14px;
}
.main_container {
  margin-left: 190px;
  width: calc(100% - 250px);
   transition: all 0.3s ease;
}

.profile_info {
  padding: 30px 20px;
  text-align: center;
}

.profile_img {
  width: 100px;
  margin: 0 auto 15px;
}

.profile_img img {
  width: 100%;
  display: block;
}

.name {
  font-size: 19px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-shadow: 0 2px 2px rgb(0, 0, 0);

}

.role {
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 2px 2px rgb(0, 0, 0);
}


.siderbar_menu li a {
  padding-top: 6px;
  display: block;
  height: 70px;
  position: relative;
  color: #ffffff;
  text-shadow: 0 2px 2px rgb(0, 0, 0);
  text-align: center;
  text-transform: uppercase;
  transition: 400ms;
}

.icon {
  font-size: 22px;
}

.siderbar_menu li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #ffffff;
  box-shadow: 0 0 10px #d8d8d8, 0 0 40px #eeeeee, 0 0 80px #f3f3f3;
  display: none;
}

.siderbar_menu li a:hover,
.siderbar_menu li a.active {
  color: #f8f8f8;
  background: #660000;
  box-shadow: 0 2px 6px rgb(0, 0, 0);
  transition: 400ms;
}

.siderbar_menu li a:hover:before,
.siderbar_menu li a.active:before {
  display: block;
}

.top_navbar {
  width: calc(100% - 175px);
  height: 48px;
  background: -webkit-linear-gradient(to right,rgb(0, 0, 0) ,rgb(109, 109, 109) );
  background: linear-gradient(to right,rgb(0, 0, 0) ,rgb(95, 95, 95) );
  box-shadow: 0 2px 6px rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  position: fixed;
  top: 0;
  left: 180px;
  transition: all 0.3s ease;
  z-index: +2;
}


.menu {
  display: flex;
  align-items: center;
}

.menu li a {
  padding: 0 15px;
  position: relative;
  color: #ffffff;
  text-shadow: 0 2px 2px rgb(0, 0, 0);
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  transition: 500ms;
}

.menu li a:before {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #ffffff;
  box-shadow: 0 0 10px #d8d8d8;
  display: none;
}


////////////////////////////////////////////////////////


.menu li a.active,
.menu li a:hover {
    color: rgb(255, 255, 255);
}

.menu li a:hover:before,
.menu li a.active:before {
  display: block;
}

.right_bar {
  display: flex;
}

.right_bar li {
  margin: -3px 10px;
}

.right_bar .fas {
  font-size: 25px;
  cursor: pointer;
  color: #ffffff;
  transition: 400ms;
  text-shadow: 0 2px 2px rgb(0, 0, 0);

}

.right_bar li:hover, .fas:hover {
    color: rgb(60, 255, 0);
    transition: 400ms;
}

.containerx {
//   padding: 30px;
  margin-top: 60px;
}

.item {
  padding: 20px;
  font-size: 14px;
  line-height: 22px;
  width: 100%;
}


////////////////////////////////////////////////////////


.cardx {
  position: relative;
  height: 170px;
  width: 480px;
  margin-top: 15px;
  margin-bottom: 50px ;
  margin-left: 30px;
  z-index: 0;
  padding-bottom: 10px;
  transition: 300ms;
  float: left;
  cursor: pointer;
}


.cardx:hover{
	background-color: #0000005e;
	transform: scale(1.1);
	transition: 300ms;
	border-radius: 10px;
	animation-duration: 600ms;
}
.cardx:hover img{
	animation-duration: 600ms;
}

.right {
  margin-left: 50%;
  margin-right: 20px;
}

.h1t{
    padding-top: 10px;
}


.timee {
  position: absolute;
  left: 31px;
  bottom: 30px;
  width: 150px;
  color: #ffffff;
}

.Asks {
  margin-right: 25px;
  text-align: center;
  font-size: 18px;
  color: rgb(241, 241, 241);
}

.separator {
  margin-top: 10px;
  margin-bottom: 8px;
  margin-left: -30px;
  border: 1px solid #f50000;
  box-shadow: 0 0 10px #cc0000;
}

.p1 {
  text-align: justify;
  padding-top: 5px;
  line-height: 100%;
  color: #ffffff;
  font-size: 14px;
}

h5 {
  position: absolute;
  left: 30px;
  bottom: 120px;
  font-size: 25px;
  color: #ffffff;
}

h6 {
  position: absolute;
  left: 30px;
  bottom: 95px;
  font-size: 20px;
  color: #ffffff;
}


.fab1 {
  position: absolute;
  right: 30px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: 400ms;
  cursor: pointer;
}



@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/////////////////////////////////////////////
// .columnR{
//   width: 470px;
// }

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  


  .cardS {
	width: 450px;
	height: 250px;
	background-image: url('../img/auto-stop-22.jpg');
	background-size: cover;
	background-position: center;
	box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
	text-shadow: 0px 2px 2px rgba(0,0,0,0.4);
	border-radius: 6px;
	overflow: hidden;
	position: relative;
	margin: 1.5rem;
	cursor: pointer;
	transition: 700ms;
  }

  .cardS2 {
    width: 450px;
    height: 250px;
    background-image: url('../img/9.jfif');
    background-size: cover;
    background-position: center;
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    text-shadow: 0px 2px 2px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
    cursor: pointer;
    transition: 700ms;
    } 

  .cardS:hover .cardS2:hover{
	  transition: 700ms;
	  transform: scale(1.1);
  }
  
  .cardS h1 {
	text-align: center;
  }

  .cardS2 h1 {
    text-align: center;
  }
  
  .cardS .additional {
	position: absolute;
	width: 150px;
	height: 100%;
	background-image: url('../img/5.jfif');
	background-size: cover;
	background-position: center;
	transition: width 0.7s;
	overflow: hidden;
	z-index: 1;
  }

  .cardS2 .additional {
    position: absolute;
    width: 150px;
    height: 100%;
    background-image: url('../img/8.jfif');
    background-size: cover;
    background-position: center;
    transition: width 0.7s;
    overflow: hidden;
    z-index: 1;
    }

  
  .cardS:hover .additional {
	width: 120%;
	border-radius: 0 5px 5px 0;
  }

  .cardS2:hover .additional {
    width: 120%;
    border-radius: 0 5px 5px 0;
    }
  
  .additional .user-card {
	width: 150px;
	height: 100%;
	position: relative;
	float: left;
  }
  
 .additional .user-card::after {
	content: "";
	display: block;
	position: absolute;
	top: 10%;
	right: -2px;
	height: 80%;
	border-left: 2px solid rgba(0,0,0,0.025);
  }
  
 .additional .user-card .level,
 .additional .user-card .points {
	top: 15%;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.75em;
	font-weight: bold;
	background: rgba(0,0,0,0.15);
	padding: 0.125rem 0.75rem;
	border-radius: 100px;
	white-space: nowrap;
  }
  
 .additional .user-card .points {
	top: 85%;
  }
  
  .additional .user-card svg {
	top: 50%;
  }
  
  .additional .more-info {
	width: 300px;
	float: left;
	position: absolute;
	left: 150px;
	height: 100%;
  }
  
  .additional .more-info h1 {
	color: #fff;
	margin-bottom: 0;
  }
  
  .additional .coords {
	margin: 0 1rem;
	color: #fff;
	font-size: 1rem;
  }
  
  
  .additional .coords span + span {
	float: right;
  }
  
  .additional .stats {
	font-size: 2rem;
	display: flex;
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	right: 1rem;
	top: auto;
	color: #fff;
  }
  
  
  .additional .stats > div {
	flex: 1;
	text-align: center;
  }
  
  .additional .stats i {
	display: block;
  }
  
  .additional .stats div.title {
	font-size: 0.75rem;
	font-weight: bold;
	text-transform: uppercase;
  }
  
  .additional .stats div.value {
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.5rem;
  }
  
  .additional .stats div.value.infinity {
	font-size: 2.5rem;
  }
  
  .general {
	width: 300px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
	box-sizing: border-box;
	padding: 1rem;
	padding-top: 0;

  }
  
  .general .more {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	font-size: 0.9em;
  }
///////////////////////////////////////////////////////////////////////////////////////////

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 220px;
  padding-right:-600px;
}

.D-boo{
  clear: both;
}

.Asksm{
  font-size: 25px;
  color: rgb(230, 0, 0);
}

figure {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  float: left;
  margin: 30px;
  width: 190px;
  height: 195px;
  padding: 0px 10px;
  background-image: url('../img/7.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.6s cubic-bezier(.25,.8,.25,1);
  overflow: hidden;
	&:before,
	&:after {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	}
	&:before {
	  content: '';
	  background-color: rgba(black,0.1);
	  z-index: 0;
	}
	&:after {
	  content: '';
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  transition: all 0.5s cubic-bezier(.25,.8,.25,1);;
	  overflow: hidden;
	}
	&:hover {
	  background-size: 145%;
	  .date {
		bottom: 40px;
      }
    .date2 {
		bottom: 40px;
	  }
	figcaption {
		transform: translateY(20%);
	  }
	}
	.date {
	  position: absolute;
	  bottom: 0;
	  right: 30px;
    display: flex;
    padding: 4px;
	  align-items: center;
	  justify-content: center;
	  flex-direction: column;
	  background-color: rgba(#c30000,0.8);
	  text-shadow: 1px 1px rgba(black,0.7);
	  transition: all 0.5s cubic-bezier(.25,.8,.25,1);;
		span {
		  color: white;
		  line-height: 1;
		  &:first-child {
			  font-size: 18px;
			  font-weight: 900;
			}
		  &:last-child {
			  font-size: 17px;
			  font-weight: 400;
			}
		}
  }

  .date2 {
	  position: absolute;
	  bottom: 0;
	  right: 30px;
    display: flex;
    padding: 6px;
	  align-items: center;
	  justify-content: center;
	  flex-direction: column;
	  background-color: rgba(0, 21, 209, 0.685);
	  text-shadow: 1px 1px rgba(black,0.7);
	  transition: all 0.5s cubic-bezier(.25,.8,.25,1);;
	  span {
		  color: white;
		  line-height: 1;
		  &:first-child {
			  font-size: 18px;
			  font-weight: 900;
			}
		  &:last-child {
			  font-size: 17px;
			  font-weight: 400;
			}
		}
	}
  


  figcaption {
	  color: white;
	  transition: all 0.5s cubic-bezier(.25,.8,.25,1);;
	  z-index: 1;
	  h4 {
		  margin: 0 0 5px;
		  font-size: 23px;
		  line-height: 1.35;
		  text-shadow: 1px 1px rgba(black,0.7);
		}
		
	  p {
		  margin: 0;
          line-height: 1.5;
          font-size: 14px;
		}
	}
}

.button-send {
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.472);
	background-color: rgba(230, 0, 0, 0);
	color: #FFFFFF;
	font-size: 9px;
	font-weight: bold;
	padding: 7px 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
  cursor: pointer;
}
.button-send:hover{
  background-color: rgb(51, 255, 0);
  box-shadow: 0 0 10px #3dd800, 0 0 40px #23ec00, 0 0 80px #31f300;
  transition: 400ms;
}

img {
  max-width: 113%;
}

.containerc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;float: left;
}

.card{
  width: 300px;
  height: 400px;
}

.cardMT{
  width: 300px;
  height: 450px;
}

.card , .cardMT {
  transition: 300ms;
  cursor: pointer;
  position: relative;
  background: #333;
  border-radius: 6px;
  padding: 2rem;
  color: #aaa;
  box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2),0 0 1rem rgba(0,0,0,0.2);
  overflow: hidden;

  &__image-container {
    margin: -2rem -2rem 1rem -2rem;
  }
  
  &__line {
  opacity: 0;
  animation: LineFadeIn .8s .8s forwards ease-in;
  background: -webkit-linear-gradient(to right,rgb(0, 0, 0) ,rgb(109, 109, 109) );
  background: linear-gradient(to right,rgb(0, 0, 0) ,rgb(95, 95, 95) );
  }

  &__image {
    opacity: 0;
    animation: ImageFadeIn .8s 1.4s forwards;
  }

  &__title {
    color: white;
    margin-top: 0;
    font-weight: 800;
    letter-spacing: 0.01em;
  }
  
  &__content {
    margin-top: -1rem;
    opacity: 0;
    animation: ContentFadeIn .8s 1.6s forwards;
  }
  
  &__svg {
    position: absolute;
    left: 0;
	top: 115px;
	
  }
}
.card:hover ,.cardMT:hover{
  transform: scale(1.1);
  transition: 300ms;
}

@keyframes LineFadeIn {
  0% { opacity: 0; d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 "); stroke: rgb(255, 255, 255); }
  50% { opacity: 1; d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300"); stroke: rgb(129, 79, 79); }
  100% { opacity: 1; d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400"); stroke: #fb0404; }
}

@keyframes ContentFadeIn {
  0% { transform: translateY(-1rem); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes ImageFadeIn {
  0% { transform: translate(-.5rem, -.5rem) scale(1.05); opacity: 0; filter: blur(2px); }
  50% { opacity: 1; filter: blur(2px); }
  100% { transform: translateY(0) scale(1.0); opacity: 1; filter: blur(0); }
}
