* {
scroll-behavior: smooth;
}

body {
  // background: -webkit-linear-gradient(to right,rgb(0, 0, 0) ,rgb(160, 0, 0) );
  // background: linear-gradient(to right,rgb(0, 0, 0) ,rgb(161, 0, 0) );
  background-image: url('../img/backx.jpg');
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  // width: 200vh;
}


h1 {
	font-weight: bold;
  margin: 2px;
  color: rgb(255, 255, 255);
}

h2 {
  text-align: center;
}

h3{
  font-size: 18px;
  font-family: 'Rajdhani', sans-serif;
}
.p {
  color: rgb(255, 255, 255);
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
  margin: 20px 0 30px;
}


.a {
	color: rgb(255, 255, 255);
	font-size: 14px;
	text-decoration: none;
  margin: 15px 0;
}

.input_font_color{
  color: rgb(255, 255, 255);
}

.a_btn{
  background: #ff0000;
  box-shadow: 0 0 10px #d80000;
  border-radius: 20px;
	border: 1px solid rgb(230, 0, 0);
	background-color: rgb(230, 0, 0);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}
button   {
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.472);
	background-color: rgba(230, 0, 0, 0);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
  // transition: transform 80ms ease-in;
  cursor: pointer;
}
button:hover{
  background-color: rgb(51, 255, 0);
  box-shadow: 0 0 10px #3dd800, 0 0 40px #23ec00, 0 0 80px #31f300;
  transition: 400ms;
}

button:active , .a_btn:active {
	transform: scale(0.95);
}

button:focus , .a_btn:focus {
	outline: none;
}

button.ghost , .a_btn.ghost {
	background-color: transparent;
  border-color: #FFFFFF;
}

.form1 {
  display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
  text-align: center;
}

input {
  background-color: rgba(250, 250, 250, 0);
  border-bottom: 1px solid rgb(230, 0, 0);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
	padding: 12px 15px;
	margin: 8px 0;
  width: 100%;
}

form .input-group {
  position: relative;
}

.input-group-date{
  position: relative;
}

.input-group-date input  {
  width: 180%;
  font-size: 18px;
  letter-spacing: 1px;
  margin-left: -39%;
  border: none;
  border-bottom: 1px solid rgb(226, 226, 226);
  outline: none;
  background-color: transparent;
  position: relative;
  color: rgb(255, 255, 255);
}

form .input-group input  {
  width: 230%;
  font-size: 18px;
  letter-spacing: 1px;
  margin-left: -65%;
  border: none;
  border-bottom: 1px solid rgb(226, 226, 226);
  outline: none;
  background-color: transparent;
  position: relative;
  color: rgb(255, 255, 255);
}
.form {
  display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  text-align: center;
}

form .input-group1 {
  position: relative;
}

.input-group-date1{
  position: relative;
}

.input-group-date1 input  {
  width: 80%;
  font-size: 18px;
  letter-spacing: 1px;
  border: none;
  border-bottom: 1px solid rgb(226, 226, 226);
  outline: none;
  background-color: transparent;
  position: relative;
  color: rgb(255, 255, 255);
}

form .input-group1 input  {
  width: 80%;
  font-size: 18px;
  letter-spacing: 1px;
  border: none;
  border-bottom: 1px solid rgb(226, 226, 226);
  outline: none;
  background-color: transparent;
  position: relative;
  color: rgb(255, 255, 255);
}

::-webkit-input-placeholder{
  color: rgb(255, 255, 255);
  font-size: 14px;
  transition: 400ms;
}

:focus::-webkit-input-placeholder{
  color: rgb(131, 131, 131);
  font: bold;
  font-size: 16px;
  transition: 400ms;
}

// .img1 img{
//   width: 35%;
//   float: right;
//   margin-top: 60px;
//   margin-right: 10vh;
//   position: relative;
//   transition: 900ms;
//   cursor: pointer;
// }

// .img1 img:hover{
//   width: 40%;
//   transition: 900ms;
// }

.video {
  margin-top: 80px;
  margin-left:63%;
  position: relative;
}

iframe{
  opacity: 90% ;
  border: solid 1px red;
  border-radius: 25px;
  transition: all 300ms ease-in-out;
}





.intro_info{
  width: 40%;
  position: absolute;
  margin-top: 190px;
  margin-left: 5%;
}

.titlee{
  font-size: 300%;
}

.line{
  width: 90%;
  margin-left: 0%;
}

.container{
	border-radius: 10px;
  margin: 0px 0px 0px 10px;
	position: relative;
	overflow: hidden;
	width: 1200px;
  min-height: 650px;
  margin-top: 10vh;
  display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}


.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
	opacity: 0;
	z-index: 5;
	animation: hide 0.6s;
}

@keyframes hide {
	0%, 49.99% {
		opacity: 1;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 0;
		z-index: 5;
	}
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.overlay-left{
 color: rgb(255, 255, 255);
}
.ghost{
  color: rgb(255, 255, 255);
  transition: 500ms;
  box-shadow: 0 2px 2px rgb(0, 0, 0);
}

.ghost:hover{
  border-color: rgb(255, 0, 0);
  color: #e4e4e4;
  background: #ff0000;
  box-shadow: 0 0 10px #d80000, 0 0 40px #ec0000;
  transition: 500ms;
}
.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.cont{
  float: right;
  margin: 10px;
}

.yallahRidet{
  position: relative;
	display: flex;
	flex-direction: column;
  clear: both;
}

.overlay {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border-radius: 30%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 60px;
	width: 60px;
}

.btns{
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #ffffff;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #ff0000;
  overflow: hidden;
  position: relative;
}

.btns i{
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
}
.btns:hover i{
  transform: scale(1.3);
  color: #ffffff;
}
.btns::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #ff0000;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btns:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
 input[type='checkbox'],input[type='radio'] {
    --active: rgb(27, 182, 0);
    --active-inner: #fff;
    --focus: 2px rgba(71, 254, 39, 0.3);
    --border: #BBC1E1;
    --border-hover: rgb(52, 182, 0);
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    padding-right: 0px;
    padding-bottom: 7px;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
   &:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
  }
  &:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;
    &:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    & + label {
      cursor: not-allowed;
    }
  }
  &:hover {
    &:not(:checked) {
      &:not(:disabled) {
        --bc: var(--border-hover);
      }
    }
  }
  &:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  &:not(.switch) {
    width: 21px;
    &:after {
      opacity: var(--o, 0);
    }
    &:checked {
      --o: 1;
    }
  }
  & + label {
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }
 }

 input[type='checkbox'] {
  &:not(.switch) {
    border-radius: 7px;
    &:after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 6px;
      top: 3px;
      transform: rotate(var(--r, 20deg));
    }
    &:checked {
      --r: 43deg;
    }
  }
  &.switch {
    width: 38px;
    border-radius: 11px;
    &:after {
      left: 2px;
      top: 2px;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: var(--ab, var(--border));
      transform: translateX(var(--x, 0));
    }
    &:checked {
      --ab: var(--active-inner);
      --x: 17px;
    }
    &:disabled {
      &:not(:checked) {
        &:after {
          opacity: .6;
        }
      }
    }
  }
 }


 input[type='radio'] {
   border-radius: 50%;
   &:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, .7));
    }
   &:checked {
    --s: .5;
    }
  }
}
  

.divs{margin: 5px;}


////////////////////////////////////////////////////////////////////scroll


#Down a span {
  position: absolute;
  left: 90%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-animation: sdb06 1.5s infinite;
  animation: sdb06 1.5s infinite;
  box-sizing: border-box;
  
}


@-webkit-keyframes sdb06 {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}


@keyframes sdb06 {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}


/////////////////////////////////////////////////////////////////////////////////////


.header{
  width: 100vw;
  height: 80px;
  display: block;
}

.inner_header{
  width: 1000px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo_container{
  height: 100%;
  display: table;
  float: left;
}

.logo_container h1 {
  color: rgb(255, 255, 255);
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-size: 32px;
  font-weight: 100;
  cursor: pointer;
  font: bold;
}

.logo_container h1 span{
  font-weight: 800;
}

.navigation{
  float: right;
  height: 100%;
margin-top: -10px;
}

.navigation a{
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}


.li{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: rgb(255, 255, 255);
  font-size: 16px;
  transition: 300ms;
cursor: pointer;
}


.li:hover{
  color: rgb(255, 255, 255);
  transition: 300ms;
  cursor: pointer;

}


#h1 {
  animation: text-flicker 3s linear infinite;
}


.offset {
  animation: letter-flicker 4s linear infinite;
}


@keyframes text-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 70px rgb(255, 255, 255);
  }
  
  2% {
    opacity:1;
    text-shadow: 0px 0px 70px rgb(255, 255, 255);
  }
  8% {
    opacity:0.1;
    text-shadow: 0px 0px 70px rgb(255, 255, 255);
  }
  9% {
    opacity:1;
    text-shadow: 0px 0px 70px rgb(255, 255, 255);
  }
  12% {
    opacity:0.1;
    text-shadow: 0px 0px  rgb(255, 255, 255);
  }
  20% {
    opacity:1;
    text-shadow: 0px 0px 70px rgb(255, 255, 255);
  }
  25% {
    opacity:0.3;
    text-shadow: 0px 0px 70px rgb(255, 255, 255)
  }
  30% {
    opacity:1;
    text-shadow: 0px 0px 70px rgb(255, 255, 255)
  }
  
  70% {
    opacity:0.7;
    text-shadow: 0px 0px 70px rgb(255, 255, 255)
  }
  
  72% {
    opacity:0.2;
    text-shadow:0px 0px 70px rgb(255, 255, 255)
  }
  
  77% {
    opacity:.9;
    text-shadow: 0px 0px 70px rgb(255, 255, 255)
  }
  100% {
    opacity:.9;
    text-shadow: 0px 0px 70px rgb(255, 255, 255)
  }
}


@keyframes letter-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 70px rgb(255, 255, 255)
  }
  2% {
    opacity:0.8;
    text-shadow:0px 0px 70px rgb(255, 255, 255)
  }
  4% {
    opacity:1;
    text-shadow: 0px 0px 70px rgb(255, 255, 255)
  }
  
  
  19% {
    opacity:1;
    text-shadow: 0px 0px 70px rgb(255, 255, 255)
  }
  21% {
    opacity:0.1;
    text-shadow: 0px 0px 70px rgb(255, 255, 255)
  }
  23% {
    opacity:1;
    text-shadow: 0px 0px 70px rgb(255, 255, 255)
  }
  
  80% {
    opacity:1;
    text-shadow: 0px 0px 70px rgb(255, 255, 255)
  }
  83% {
    opacity:0.4;
    text-shadow: 0px 0px 70px rgb(255, 255, 255)
  }
  87% {
    opacity:1;
    text-shadow: 0px 0px 70px rgb(255, 255, 255)
  }
}


////////////////////////////////////////////
 
footer {
  text-align: center;
  color: #fff;
  bottom: 0;
  width: 90%;
}

